@import "~bootstrap/scss/bootstrap.scss";

.formulario h1 {
   color : white;
}

.formulario span {
   color : white;
   margin-right: 20px;
}

.formulario button {
   background-color : white;
   margin-left: 20px;
}

.formulario {
    background: #be5555;
}

.tareas {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
    font-size: 20px;
}

